<launch>
  <!-- Launch lane detection node -->
  <node pkg="ashwini" type="lane_detection.py" name="lane_detection" output="screen" />

  <!-- Launch lane follower node -->
  <node pkg="ashwini" type="lane_follower.py" name="lane_follower" output="screen" />
    <!-- You can adjust parameters here -->

  <node pkg="ashwini" type="cmd_mux.py" name="cmd_mux" output="screen" />
    <!-- You can adjust parameters here -->

</launch>
